@model IEnumerable<Accounting_of_Goods_ver_2.Models.Pager>

<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" href="?pg=@pge"> @pge </a>
                </li>
            }

            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="?pg=@(pager.CurrentPage + 1)">Next</a>
                </li>
                <li>
                    <a class="page-link" href="?pg=@(pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>