@{
    ViewBag.Title = "Главная";
}

<div class="text-center">
    <h1>Учет товаров на складах и торговых точках</h1>
    <div>
        <img src="https://www.pinclipart.com/picdir/big/377-3774317_vector-illustration-of-industrial-factory-workers-loading-clipart.png" style="width: 300px;" alt="Alternate Text" />
    </div>
</div>