@model Accounting_of_Goods_ver_2.Models.Retail_outlets

@{
    ViewBag.Title = "Детали";
}

<h2>Детали</h2>

<div>
    <h4>Retail_outlets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-outline-secondary" href="@Url.Action("Edit", new { id = Model.Address })">Редактировать</a>
    <a class="btn btn-outline-secondary" href="@Url.Action("Index")">Вернуться к таблице</a>
</p>
